<!DOCTYPE html>
<html>
<head>
  <title>ShareBook</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
  <script src="../static/libs/jquery.min.js"></script>
  <script src="../static/libs/popper.min.js"></script>
  <script src="../static/libs/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="navbar navbar-fixed-top">
<ol class="breadcrumb">
	<!--HomePage-->
	<li class="breadcrumb-item active"><a href="">HOME</a></li>
	<!--Other Pages-->
	<li class="breadcrumb-item active"><a href="">Type1</a></li>
</ol>
</div>
<footer>
	<p>&copy; Company 2012</p>
</footer>
</div>
</body>
</html>
